*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background: rgb(213, 220, 222);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-width: 1000px;
    background: #ffffff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
} 
.container .left-side{
    position: relative;
    background: #2e2e39;
    padding: 30px;
}
.profile-text{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.profile-text .img-box{
    position: relative;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    overflow: hidden;
}
.profile-text .img-box img{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    object-fit: cover;
}
.profile-text h2{
    color: #ffffff;
    font-size: 1.2em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}
.profile-text h2 span{
    font-size: 0.8em;
    font-weight: 300;
}
.contact{
    padding-top: 40px;
}
.title{
    color: #8d03c4;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.contact ul{
    position: relative;

}
.contact ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;

}
.contact ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color:limegreen;
}
.contact ul li span{
    color:#ffffff;
    font-weight: 300;
}
.contact.education li{
    margin-bottom: 15px;
}
.contact.education h5{
    color: limegreen;
    font-weight: 500;
}
.contact.education h4{
    color: #ffffff;
    font-weight: 500;
}
.container .right-side{
    position: relative;
    background: #ffffff;
    padding: 40px;
}